.hidden {
    display: none;
}

.control {
    position: relative;
    width: var(--clock-width);
    height: calc(var(--catalog-height) - var(--clock-height));
    background-color: var(--control-bg);
    border: var(--border-style);
    border-width: 1px 0 0 0;
    padding: 10px;
}

.control > span, .control > p  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--control-font-size);
    height: 50%;
    margin: 0;
}


.toggle {
    background-color: #000;
    color: #fff;
    border: var(--border-style);
    border-width: 1px;
    margin-left: 10px;
}

.toggle a {
    padding: 8px;
    min-width: 80px;
    text-align: center;
}

.toggleActive {
    background-color: #fff;
    color: #000;
}
