.hidden {
    display: none;
}

.camControl {
    position: relative;
    width: var(--clock-width);
    max-width: 100vw;
    height: calc(var(--catalog-height) - var(--clock-height));
    background-color: var(--control-bg);
    border: var(--border-style);
    border-width: 1px 0 0 0;
    padding: 15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size);
    height: 50%;
}

.toggle {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: #000;
    color: #fff;
    border: var(--border-style);
    border-width: 1px;
    font-size: 16px;
}

.toggleItem {
    display: block;
    text-transform: lowercase;
    cursor: pointer;
    padding: 8px;
    font-size: var(--font-size);
    min-width: 80px;
    text-align: center;
}

.toggleActive {
    background-color: #fff;
    color: #000;
}

@media (max-width: 810px) {
    .camControl {
        border-width: 0 0 0 1px;
    }
}

@media (max-width: 540px) {
    .camControl {
        border-width: 1px 0;
    }
}
