.clock {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--clock-width);
    height: var(--clock-height);
    background-color: var(--control-bg);
    padding: 15px;
}

.clockRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.epochText {
    font-size: 22px;
}

.resetEpoch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 25px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.speedText {
    width: 75px;
    font-size: var(--control-font-size);
}

.speedInput {
    width: calc(100% - 80px);
}
