.clock {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: var(--clock-width);
    height: var(--clock-height);
    background-color: var(--control-bg);
    font-size: 20px;
    padding: 5px;
}

.clock span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.clock p {
    margin: 0;
}

.epochText {
    font-size: 25px;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 40px;
    background: transparent;
    border: 0;
}

.speedText {
    width: 75px;
}

.speedInput {
    width: calc(100% - 75px);
}
