.clock {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: var(--sidebar-width);
    height: var(--clock-height);
    background-color: var(--sidebar-bg);
    font-size: 20px;
}

.clock span {
    display: flex;
    justify-content: space-between;
}

.clock p {
    margin: 0;
}

.epochText {
    font-size: 25px;
    padding-bottom: 10px;
}

.reset {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 0;
    margin-left: 10px;
}

.speedText {
    width: 75px;
}

.speedInput {
    width: calc(100% - 75px);
}
