:root {
    --sidebar-bg: #000;
    --sidebar-width: 400px;
    --clock-height: 100px;
    --camera-height: 200px;
}

* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
}

html, body {
    padding: 0;
    margin: 0;
}
