@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import 'normalize.css';

:root {
    --control-bg: rgba(0, 0, 0, .85);
    --clock-width: 300px;
    --catalog-width: 700px;
    --default-width: 1000px;
    --clock-height: 120px;
    --catalog-height: 250px;
    --border-style: solid #fff;
    --control-font-size: 18px;
}

* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #fff;
}

html, body {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}
